
/*Defining colours that are used multiple times*/
:root {
    --header-color: rgb(106, 128, 161);
    --main-color: rgba(114, 112, 199, 0.637);
    --text-color: rgb(255, 255, 255);
    --color-pink: #edaafd;
    --color-black: black;
}

/*Defining the line-height for the whole body*/
body {
    line-height: 1.5;
}

/*Setting the main part as a flex container*/
main {
    display: flex;
    flex-wrap: wrap;
}

/*Styles and addresses the whole header*/
header {
    display: flex;
    padding: 1%;
    background-color: var(--header-color);
}

.header h1 {
    color: var(--text-color);
    font-weight: bolder;
    margin: 2px;
    padding: 2px;
    font-size: 60px;
    padding-left: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-line: underline;
    text-shadow: 2px 2px 5px rgb(215, 141, 255);
}

/*Styles and addresses the navigation bar*/
nav {
    justify-content: flex-start;
    background-color: var(--header-color);
    padding-bottom: 10px;
}

nav li {
    display: inline;
    font-size: 24px;
}

nav a {
    color: var(--text-color);
    font-weight: bolder;
    text-decoration-line: none;
    padding: 7px;
    margin: 10px;
    border: solid var(--color-black) 1px;
    border-radius: 25px;
}

nav a:hover {
    border: solid 2px var(--color-pink);
    border-radius: 10px;
    color: var(--color-black);
    cursor: -moz-grabbing;
    background-color: var(--text-color);
}

/*Sets the main image on the page and defines its resolution*/
.hero img {
    width: 100%;
}

/*Styles and defines the about-me container*/
.about-me {
    margin-top: 10px;
    padding: 15px;
}

.about-me h1 {
    float: right;
    font-size: 50px;
    padding: 10px;
}

.about-me .column1 {
    width: 20%;
    float: left;
    padding: 10px;
    border-right: rgba(105, 103, 228, 0.637) solid 5px;
}

.about-me .column2 {
    width: 80%;
    float: right;
    padding: 10px;
    height: 100%;
}

.column2 #name {
    padding: 10px;
    font-size: 30px;
}

.about-me p {
    padding: 10px;
}

/*Styles and defines the my-work container*/
.my-work {
    margin-top: 10px;
    padding: 15px;
}

.my-work .column1 h1 {
    float: right;
    font-size: 50px;
}

.my-work .column1 {
    width: 20%;
    float: left;
    padding: 10px;
    border-right: rgba(105, 103, 228, 0.637) solid 5px;
}

.my-work .column2 {
    width: 80%;
    float: right;
    padding: 10px;
    height: 100%;
}

/*Styles the bigger image and text on the container*/
.card-main {
    position: relative; /*Defining the cards position that the text can be moved on top*/
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.card-main img {
    width: 50%;
    height: 50%;
    
    margin: 10px;
    border: solid 10px rgb(118, 131, 255);
    border-radius: 20px;
    filter: grayscale(60%);
    box-shadow: 8px 8px 8px grey;
}

.text-main  {
    position: absolute;
    top: 40%;
    left: 1%;
    background-color: rgb(180, 51, 255);
    font-size: 30px;
    margin: 3px;
    padding: 5px;
    border-radius: 15px;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif
}

.card-main img:hover {
    filter: grayscale(0%);
    border: solid 15px rgb(180, 51, 255);
    width: 55%;
    height: 100%;
}

/*When hover over main card, the text moves with the image*/
.card-main img:hover +
.text-main {
    top: 40%;
    left: 3%;
}

/*Addresses all smaller pictures and text within the container*/
.card-sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}

.card-sub img {
    width: 100%;
    border: solid 10px var(--main-color);
    border-radius: 20px;
    box-shadow: 8px 8px 8px grey;
}

.card {
    width: 23%;
    position: relative;
    margin-top: 20px;
    margin-right: 10px;
}

.text {
    position: absolute;
    top: 40%;
    left: 2.5%;
    padding: 10px;
    border-radius: 15px;
}

#text1 {
    background-color: rgb(0, 255, 221);
    color: var(--color-black);
}

#text2 {
    background-color:rgb(135, 155, 221);
    color: var(--color-black);
}

#text3 {
    background-color: rgb(255, 238, 0);
    color: var(--color-black);
}

#text4 {
    background-color: rgb(135, 155, 221);
    color: var(--color-black);
}

.card:hover {
    background-color: rgb(255, 138, 109);
    border-radius: 20px;
    width: 310px;
    height: 310px;
    cursor: grab;
}

/*Addresses the footer section*/
/*Sets the footer to a flex container*/
.footer {
    padding: 20px;
    display: flex;
    background-color: var(--main-color);
}

.footer .column1 {
    float: left;
    width: 300px;
    padding: 10px;
}

.footer .column2 {
    float: right;
}

.footer h1 {
    float: right;
    border-right: var(--color-black) solid 3px;
    font-size: 25px;
    padding-right: 7px;
}

.footer li {
    display: inline-block;
    font-size: 19px;
    justify-content: flex-end;
    padding: 15px;
}

/*Styling footer content*/
.footer a,
.footer p {
    color: white;
    font-weight: bolder;
    padding: 5px;
    margin: 10px;
    border: solid 1px var(--color-black);
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
}

/*Adding a hover function to the footers content*/
.footer a:hover,
.footer p:hover {
    border: solid 3px var(--color-black);
    background-color: rgb(252, 155, 203);
    cursor: pointer;
}

/*Place icon by using a pseudo-element behind the text*/
.footer #in:after {
    content: url(../images/linkedin-icon.png);
}

.footer #git:after {
    content: url(../images/github_32_black.ico);
} 


/*Responsive layout for larger devices such as an Ipad*/
@media screen and (max-width:935px) {
    
    /*Changes the navigation bar content from inline elements to block elements*/
    nav li {
        display: block;
        font-size: 20px;
    }

    /*Changing the styling of the navigation bar items*/
    nav a {
        color: floralwhite;
        font-weight: bolder;
        text-decoration-line: none;
        padding: 7px;
        margin: 10px;
        border: none;
    } 
    
    /*Adding a pseudo element to the nav bar items*/
    nav a::before {
        content: "> ";
        color: rgb(194, 166, 219) ;
    }
    
    .card-main {
        position: relative;
    }

    /*Defining that the whole column1 for both articles takes the whole 
    width of the page to break the column layout*/
    .about-me .column1,
    .my-work .column1 {
        width: 100%;
    }
    
    /*Changing the font size of the headline to a smaller one*/
    .my-work .column1 h1,
    .about-me .column1 h1 {
        font-size: 30px;
    }
    
    .about-me .column2 {
        width: 100%;
        float: left;
        padding: 10px;
    }
    
    .my-work .column2 {
        width: 100%;
        float: left;
        padding: 10px;
    }
    
    /*Defining new image size*/
    .card-main img {
        width: 300px;
        height: 200px;
    }
    
    /*Changing font size of the text-main to adjust it to the image*/
    .text-main  {
        font-size: 17px;
    }


    .card-sub {
        padding-bottom: 20px;
    }

    .card {
        display: block;
        width: 300px;
        margin-bottom:10px;
    }

    /*Changing footer list elements from inline-block to block elements*/
    .footer li {
        display: block;
    }
    
    /*Changing the styling of the footer elements*/
    .footer a,
    .footer p {
        display: block;
        color: white;
        font-size: 15px;
        font-weight: bolder;
        padding: 0px;
        margin: 0px;
        border: none;
        box-shadow: none;
    }
}


/*Layout changes for Smartphones*/
@media screen and (max-width:375px) {

    /*Change the font size of the #name to a smaller one*/
    .column2 #name {
        font-size: 20px;
    }
    
    /*Define most elements as block elements*/
    .content-mywork,
    .content-aboutme,
    main {
        display: block;
        width: 100%;
    }
    
    /*Define the size of all cards*/
    .card-main img {
        width: 300px;
        height: 200px;
    }
    
    .card {
        display: block;
        width: 300px;
        height: 200px; 
    }
    
    /*Changing the text-main as the screen gets smaller*/
    .text-main  {
        font-size: 17px;
    }
    
    /*Changing font size of footer h1*/
    footer .column1 h1 {
        font-size: 20px;
    }
}


