body {
    flex-direction: column;
    display: flex;
    line-height: 1.5;
    height: 100%;
    justify-content: space-between;
}

main {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    padding: 1%;
    background-color: rgb(106, 128, 161) ;
}

.header h1 {
    color: rgb(250, 204, 247);
    font-weight: bolder;
    margin: 2px;
    padding: 2px;
    font-size: 60px;
    padding-left: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-line: underline;
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(106, 128, 161);
    padding-bottom: 10px;
}

nav li {
    display: inline;
    font-size: 17px;
}

nav a {
    color: floralwhite;
    font-weight: bolder;
    text-decoration-line: none;
    padding: 7px;
    margin: 10px;
    border: solid black 1px;
    border-radius: 25px;
}

 nav a:hover {
    border: solid 2px #edaafd;
    border-radius: 10px;
    color: black;
    cursor: -moz-grabbing;
}

.hero {
    display: flex;
}

.hero img {
    flex-wrap: wrap;
    flex-flow: column wrap;
    width: 100%;
}

.content-am {
    border: 1px;
    padding: 10px;
    margin: 5px;
    display: flex;
}

.about-me {
    margin-top: 10px;
    padding: 15px;
}

.about-me .column1 {
    width: 20%;
    float: left;
    padding: 10px;
    border-right: rgba(105, 103, 228, 0.637) solid 5px;
}

.about-me .column2 {
    width: 80%;
    float: right;
    padding: 10px;
    height: 100%;
}

.column2 #name {
    padding: 10px;
    font-size: 20px;
}


.about-me h1 {
    float: right;
    font-size: 50px;
    padding: 10px;
}

.about-me p {
    padding: 10px;
}

.content-mw {
    border: 1px;
    padding: 10px;
    margin: 5px;
    display: flex;
}

.my-work {
    margin-top: 10px;
    padding: 15px;

}

.my-work .column1 {
    width: 20%;
    float: left;
    padding: 10px;
    border-right: rgba(105, 103, 228, 0.637) solid 5px;
}

.column1 h1 {
    float: right;
    font-size: 50px;
}


.my-work .column2 {
    width: 80%;
    float: right;
    padding: 10px;
    height: 100%;
}


.card-main {
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 50%;
}

.card-main img {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 10px;
    border: solid 10px rgb(118, 131, 255);
    border-radius: 20px;
    filter: grayscale(70%);

}

.card-main img:hover {
    filter: grayscale(0%);
    border: solid 15px rgb(180, 51, 255);
    width: 105%;
    height: 100%;
}

.card-main img:hover +
.text-main {
    top: 40%;
    left: 3%;
}


.text-main  {
    position: absolute;
    top: 40%;
    left: 1%;
    background-color: rgb(180, 51, 255);
    font-size: 30px;
    margin: 3px;
    padding: 5px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif
}

.card-sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}

.card {
    width: 23%;
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 10px;
}

.card:hover {
    background-color: rgb(228, 220, 110);
    border-radius: 20px;
    width: 310px;
    height: 310px;
    cursor: grab;
}

.card-sub img {
    width: 100%;
    border: solid 10px rgb(106, 128, 161);
    border-radius: 20px;
}

.text {
    position: absolute;
    top: 50%;
    left: 2.5%;
    padding: 10px;
    border-radius: 15px;
}

#text1 {
    background-color: rgb(180, 51, 255);
    color: rgb(255, 255, 255);
}

#text2 {
    background-color:salmon;
    color: rgb(0, 0, 0);
}

#text3 {
    background-color: springgreen;
    color: darkblue;
}

#text4 {
    background-color: rgb(250, 240, 96);
    color: darkmagenta;
}


.footer {
    margin: 0px;
    padding: 20px;
    display: flex;
    background-color: rgba(105, 103, 228, 0.637);
}

.footer h1 {
    float: right;
    border-right: black solid 3px;
    font-size: 25px;
    padding-right: 7px;
}

.footer .column1 {
    float: left;
    width: 300px;
    padding: 10px;
    height: 50px;
}

.footer .column2 {
    float: right;
    width: 700px;
    padding: 10px;
    height: 100%;
    display: inline;
}

.footer ul {
    justify-content: center;
}

.footer li {
    display: inline-block;
    font-size: 19px;
    justify-content: flex-end;
    padding: 7px;
}

.footer a,
.footer p {
    color: white;
    font-weight: bolder;
    text-decoration-line: none;
    padding: 5px;
    margin: 10px;
    display: inline;
    border: solid 1px pink;
    border-radius: 15px;
}

.footer a:hover,
.footer p:hover {
    border: solid 3px black;
    cursor: pointer;
}

.footer #in:after {
    content: url(../images/linkedin-icon.png);
}

.footer #git:after {
    content: url(../images/github_32_black.ico);
} 

/*Layout changes for Smartphones*/
@media screen and (max-width:375px) {
    nav li {
        display: block;
        font-size: 20px;
    }

    nav a {
        color: floralwhite;
        font-weight: bolder;
        text-decoration-line: none;
        padding: 7px;
        margin: 10px;
        border: none;
    }
    
    .content-mw,
    .content-am,
    main {
        display: block;
        width: 100%;
    }
    
    .card-main {
        position: relative;
    }

    .about-me .column1 {
        width: 100%;
    
    }
    
    .my-work .column1 h1,
    .about-me .column1 h1 {
        font-size: 30px;
        float: right;
    }
     article {
         display: block;
     }
    
    .about-me .column2 {
        width: 100%;
        float: left;
        padding: 10px;
        height: 100%;
    }

    .my-work .column1 {
        float: inline-start;
        width: 100%;
        height: 100%;
    }
    
    .my-work .column2 {
        width: 100%;
        float: left;
        padding: 10px;
        height: 100%;
    }
    
    .card {
        display: block;
        width: 300px;
        height: 200px;
    }
    
    .card-main img {
        width: 300px;
        height: 200px;
    }

    .text-main  {
        font-size: 17px;
    }

    footer {
        display: block;
        width: 100%;
    }
    
    footer .column1 {
        width: 100%;
    }

    footer .column1 h1 {
        border-right: black solid 3px;
        font-size: 20px;
        float: right;
    }

    footer .column2 {
        width: 100%;
        padding: 10px;
        height: 100%;
    }
    
    .footer li {
        font-size: 10px;
        display: block;
        width: 100%;
        font-size: 20px;
    }
    
    .footer a,
    .footer p {
        display: block;
        color: white;
        font-size: 15px;
        font-weight: bolder;
        text-decoration-line: none;
        padding: 0px;
        margin: 0px;
        border: none;
    }

}

@media screen and (max-width:935px) {
    nav li {
        display: block;
        font-size: 20px;
    }

    nav a {
        color: floralwhite;
        font-weight: bolder;
        text-decoration-line: none;
        padding: 7px;
        margin: 10px;
        border: none;
    }
    
    .content-mw,
    .content-am,
    main {
        display: block;
        width: 100%;
    }
    
    .card-main {
        position: relative;
    }

    .about-me .column1 {
        width: 100%;
    
    }
    
    .my-work .column1 h1,
    .about-me .column1 h1 {
        font-size: 30px;
        float: right;
    }
     article {
         display: block;
     }
    
    .about-me .column2 {
        width: 100%;
        float: left;
        padding: 10px;
        height: 100%;
    }

    .my-work .column1 {
        float: inline-start;
        width: 100%;
        height: 100%;
    }
    
    .my-work .column2 {
        width: 100%;
        float: left;
        padding: 10px;
        height: 100%;
    }
    
    .card-sub {
        padding-bottom: 20px;
    }

    .card {
        display: block;
        width: 300px;
        margin-bottom:10px;
    }

    
    .card-main img {
        width: 300px;
        height: 200px;
    }

    .text-main  {
        font-size: 17px;
    }

    footer {
        display: block;
        width: 100%;
    }
    
    footer .column1 {
        width: 100%;
    }

    footer .column1 h1 {
        border-right: black solid 3px;
        font-size: 20px;
        float: right;
    }

    footer .column2 {
        width: 100%;
        padding: 10px;
        height: 100%;
    }
    
    .footer li {
        font-size: 10px;
        display: block;
        width: 100%;
        font-size: 20px;
    }
    
    .footer a,
    .footer p {
        display: block;
        color: white;
        font-size: 15px;
        font-weight: bolder;
        text-decoration-line: none;
        padding: 0px;
        margin: 0px;
        border: none;
    }

}